certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
packaging==20.1
pip-review==1.0
pkg-resources==0.0.0
pyparsing==2.4.6
requests==2.22.0
simplejson==3.17.0
six==1.14.0
urllib3==1.25.8
waitress==1.4.3
Werkzeug==0.16.1
